*, *::after, *::before {
    box-sizing: border-box;
}
.projects{
    font-size:small;
    top:20vh;
    position:absolute;
    width:100%;
    padding:2vw;
    margin-left: 1vw;
    width:90%;
    background-color: #f0f0f0 !important;
    z-index:0;
    background-color: #606060 !important;
}
.project{
    margin-bottom:2vw;
    width:fit-content;
    z-index:0;
}
@media screen and (orientation:landscape) {
    body{
        margin: 0;
        background-color:gray !important;
        background-size:auto cover;
        background-repeat: no-repeat;
        font-family: 'Verdana', 'Geneva', sans-serif;
        overflow-x:hidden;
    }
    .horizontal-line {
        inline-size: 100vw;
        height: 10vh;
        background-color: black;
        z-index:1;
    }
    #introduction{
        display: inline-block !important;
        position:absolute !important;
        top:15vh !important;
        left: 2vw !important;
        right:50% !important;
        block-size:fit-content !important;
        font-size: larger !important;
        margin-inline-end: 10vw !important;
        z-index:1 !important;
    }
    ul {
        list-style-type: none;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index:2;
        color:white;
        margin-left: 10vw;
      }
    li {
        margin-right: 30vh;
        color:white
    }
    a{
        text-decoration: none !important;
        color: white !important;
        padding:5vh !important;
        text-align: center !important;
        justify-content: center !important;
        font-weight: 200 !important;
    }
    li:hover{
        background-color: gray !important;
        color:black !important;
    }
    a:hover{
        color:black !important;
        background-color: gray !important;
    }
    #logo{
        position:absolute;
        top:1vh;
        left:1vw;
        width:7vw;
        height:auto;
        z-index:3;
    }
    #logolink:hover{
        background-color: transparent !important;
    }
    #last-projects{
        font-size:small;
        top:20vh;
        position:absolute;
        width:25%;
        padding: 2vw;
        background-color: #f0f0f0 !important;
        left:55%;
        z-index:2;
        background-color: #606060 !important;
    }
    #project{
        margin-bottom: 10%;
    }
    button{
        background-color: rgb(122, 216, 216) !important;
        border:none;
        block-size: 2vw;
    }
    button:hover{
        background-color: rgb(81, 143, 143) !important;
    }
    footer {
        position: absolute;
        text-decoration-line: none !important;
        background-color: black !important;
        height: 10vh;
        width: 100%;
        margin-top:80%;
        text-align: center;
      }
    #contactlink:hover{
        background-color: transparent !important;
        color:white !important;
    }
    .hamburger-menu{
        display:none;
    }
    .sidebar{
        display:none;
    }
}
@media screen and (orientation:portrait){
    #introduction{
        margin-top: 10%;
    }
    body{
        margin: 0;
        background-color:gray !important;
        background-size:auto cover !important;
        background-repeat: no-repeat !important;
        font-family: 'Verdana', 'Geneva', sans-serif !important;
        overflow-x:hidden !important;
    }
    .horizontal-line {
        inline-size: 100vw !important;
        height: 10vh;
        background-color: black !important;
        z-index:1;
    }
    #logo{
        position:absolute;
        left:1vw;
        top:3vh;
        height:20vw;
        width:auto;
        z-index:3;
        display: flex;
        align-items: center;
        }
    #logolink:hover{
        background-color: transparent !important;
        }
    button{
        background-color: rgb(122, 216, 216) !important;
        border:none !important;
        block-size: 5vw;
        }
    button:hover{
        background-color: rgb(81, 143, 143) !important;
    }
    #last-projects{
        font-size:small;
        position:absolute;
        width:100%;
        padding: 2vw;
        background-color: #f0f0f0 !important;
        z-index:2;
        background-color: #606060 !important;
    }
    #project{
        margin-bottom: 10%;
    }
    #list-container{
        display:none;
    }

    :root{
        --bar-width: 60px;
        --bar-height: 14px;
        --hamburger-gap:6px;
        --foreground: white;
        --background:#333;
        --hamburger-margin-right:8px;
        --hamburger-margin-top:3vh;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap) *2)
    }
    .hamburger-menu{
        --x-width:calc(var(--hamburger-height) * 1.41421356237);
        display:flex;
        flex-direction: column;
        width:max-content;
        position:absolute;
        top:var(--hamburger-margin-top);
        right:var(--hamburger-margin-right);
        z-index: 3;
        cursor: pointer;
    }
    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content:"";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition:opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
    }
    .hamburger-menu input {
        appearance:none;
        padding:0;
        margin:0;
        outline:none;
        pointer-events: none;
    }
    .hamburger-menu:has(input:checked)::before{
        rotate:45deg;
        width:var(--x-width);
        translate:0 calc(var(--bar-height)/-2);
    }
    .hamburger-menu:has(input:checked)::after{
        rotate:-45deg;
        width: var(--x-width);
        translate:0 calc(var(--bar-height)/2);
    }
    .hamburger-menu input:checked{
        opacity:0;
        width:0;
    }
    .sidebar{
        position:absolute;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin-top));
        right:var(--hamburger-margin-right);
        transition: translate(var(--animation-timing));
        opacity:0%;
        background-color: var(--background);
        color:var(--foreground);
        min-height:100%;
        padding: 5rem 5rem;
        z-index:2;
        pointer-events: none;
    }
    .hamburger-menu:has(input:checked) + .sidebar{
        opacity:100%;
        pointer-events: all;
    }
    .mobile-categs{
        margin-top: 4vh;

    }
    a{
        text-decoration: none !important;
        color: white !important;
        padding:5vh !important;
        text-align: center !important;
        justify-content: center !important;
        font-weight: 200 !important;
    }
    footer{
        display:none;
    }
    
}